/*Modal*/
.modal-dialog {
    border-color: #e2902b !important;
}
.modal .modal-title {
    text-align: center !important;
    font-family: 'Muli', sans-serif !important;
    font-weight: 700;
}
.modal .lead {
    font-family: 'Muli', sans-serif !important;
    color: black;
    font-weight:500;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#e2902b;
    border-color: #e2902b;
  }


/*navbar*/

.navbar .navbar-brand {
    font-family: 'Muli', sans-serif !important;
}
.navbar .nav-link {
    font-family: 'Muli', sans-serif !important;
    color: white;
}


.navbar {
    background-color: transparent ;
    border-color: transparent ;
    -webkit-transition: background-color .2s; 
    transition: background-color .2s; 
}


.navbar-collapse .navbar-nav {
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(226,144,43);
    border-width: 0;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(226,144,43, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*all other pages nav links and background(besides Home)*/
#whiteNav {
    background-color: white !important;
}
 #navlink {
    font-family: 'Muli', sans-serif !important;
    color: black !important;
}
/*end other pages nav links and bg*/

/*buttons*/
.btn-primary {
    color:#FFFFFF;
    background-color: #e2902b;
    font-family: 'Muli', sans-serif !important;
    border-color: #e2902b !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color:#e39b44 !important;
    color: #FFFFFF !important;
    border-color: #e2902b !important;
    outline: none !important;
    box-shadow: none !important;
}

/*jumbotron*/
.jumbotron {
    background-image: url('images/signal-hill.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
}

.display-4 {
    font-family: 'Muli', sans-serif !important;
    color: #FFFFFF
}

/*footer*/

.footer {
    background-color: #e2902b
}
.footer-logo {
    font-family: 'Muli', sans-serif !important;
}

#bottomnav {
    color: black !important;
}
#bottomnav:hover, #bottomnav:active, #bottomnav.active {
    font-family: 'Muli', sans-serif !important;
    color: whitesmoke !important;
}

#footernavs {
    justify-content: flex-end !important;
}

.lead {
    font-family: 'Muli', sans-serif !important;
    color: #FFFFFF
}

.charities {
    font-family: 'Muli', sans-serif !important;
    font-weight: 700;
}

.card .card-title {
    font-family: 'Muli', sans-serif !important;
    font-weight: 700;

}
/*home card*/
.card .card-text {
    font-family: 'Muli', sans-serif !important;
}

.card {
    border-color: #e2902b !important;
    border-width: medium !important;
    border-radius: 25px !important;
}

.footer .nav {
    color: #FFFFFF !important;
}

.footer-logo {
    font-family: 'Muli', sans-serif !important;
}


/*team card*/
.ccard-img-top{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.team-sub {
    font-family: 'Muli', sans-serif !important;
    text-align: center !important;
}

.team-header {
    font-family: 'Muli', sans-serif !important;
    font-weight: 700;
}


/*about us*/
.display-3 {
    font-family: 'Muli', sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: 700;
}


/*service page*/
.bodycopy {
    font-family: 'Muli', sans-serif !important;
}

.alert-warning {
    margin-bottom: 0;
    margin-top: 3;
}