html {
    height: 100%;
    background-image: radial-gradient(circle farthest-side at 5%, white , #1b062f 75%);
    position: relative;
    /*animation: backgroundAnim 5s infinite;*/
}

.cat {
    background-image: url(images/1taa69.jpg);
    background-position: center;
    position: absolute;
    background-size: cover;
    display: block;
    transform-origin: center;
    margin-left: auto;
  margin-right: auto;
    animation: catanimation 10s ease-in-out infinite;
}

@keyframes catanimation {
    0% {
        height: 0px;
        width: 0px;
    }

    100% {
        height: 200px;
        width: 400px;

    }
}

@keyframes backgroundAnim {
0% {
transform: rotate(10deg)
}

100% {
    transform: rotate(360deg)
}

}