/* inside navbaar text when hovered */
a:hover, span.a:hover {
    color: green !important;
    text-decoration: none;
}
/* inside navbaar text normal */
a, span.a {
    transition: all 0.1s ease-in-out;
    color: #ffbd2e !important;
    cursor: pointer;
}
/* subhead nav text normal*/

.h__header, .h__h1, .h__h1--loud, .h__h1--hero, .h__h1--sm, .h__h2--primary, .h__h2--loud, .h__h2--sm, .h__h2--secondary, .h__h3, .h__h3--loud, .h__h3--secondary--sm, .h__h3--primary--sm, .h__h4, .h__h4--loud {
    color: grey !important;
}

/* navbar icons */

.m-head__site-nav--menu.active .m-head__nav-icon {
    color: #ffbd2e !important;
}

/* button text*/

.btn {
    color: white !important;
    background-color: #ffbd2e !important;
}

/* shopping cart */
.tp-cart:hover {
    transform: rotate(-25deg) !important;
}

/* carousel caption */
.carH5 {
    color: #ffbd2e !important;
    text-shadow: 2px !important;
}

.carP {
    color: white !important;
    text-shadow: 2px !important;
}

.carousel-control-next-icon {
    color: black !important;

}

/* cards */

.card-title {

color:grey !important;
}

/* footer */

.footerH {
    color: #ffbd2e !important;
}