
/* subhead nav text normal*/

.h__header, .h__h1, .h__h1--loud, .h__h1--hero, .h__h1--sm, .h__h2--primary, .h__h2--loud, .h__h2--sm, .h__h2--secondary, .h__h3, .h__h3--loud, .h__h3--secondary--sm, .h__h3--primary--sm, .h__h4, .h__h4--loud {
    color: grey !important;
}

/* navbar icons */

.m-head__site-nav--menu.active .m-head__nav-icon {
    color: #ffbd2e !important;
}



/* button text*/

.btn {
    color: white !important;
    background-color: #ffbd2e !important;
}

.btn:hover {
    color: white !important;
    background-color: #ffdb8c !important;
}

/* shopping cart */

.tp-cart:hover {
    transform: rotate(-25deg) !important;
}

/* carousel caption */
.carH5 {
    color: #ffbd2e !important;
    text-shadow: 2px !important;
}

.carP {
    color: white !important;
    text-shadow: 2px !important;
}

.carousel-control-next-icon {
    color: black !important;

}

/* cards */

.card-title {

color:grey !important;
}

/* footer */

.footerH {
    color: #ffbd2e !important;
}

/* FAQ Page */
h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

/*alert*/
.alert-success {
    color: orange !important;
}

/*product page*/
.rec {
    border: 1px solid grey;
    width: 160px;
    height: 160px;
}
.recDes {
    color: grey
}

/*-------blog page--------*/


.jumbotron {
    background-image: url("images/lotsamugs.png") !important;
    background-size: cover !important;
    padding: 3rem!important;

}

.display-4, .header, .subhead, .sideHead {
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: bold;
}

.blog-post-title {
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: bold;
}

.blogwords {
    font-family: helvetica, arial, sans-serif;
}

#update {
    color: orange;
}

.btn .btn-primary {
    outline-color: #ffbd2e !important;
}




/*---Checkout---*/


/* inside navbar text when hovered */
a:hover, span.a:hover {
    color: #ffdb8c !important;
    text-decoration: none;
}
/* inside navbar text normal */
a, span.a {
    transition: all 0.1s ease-in-out;
    color: #ffbd2e !important;
    cursor: pointer;
}
#nav1:hover {
 color: #ffbd2e !important;
}
#nav2:hover {
    color: #ffbd2e !important;
   }
#nav3:hover {
    color: #ffbd2e !important;
   }
#nav4:hover {
    color: #ffbd2e !important;
   }

   /*FAQ panels*/

   .panel-group .panel {
       border: none;
   }

   #faq1 {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 1.2rem;
   }

   #faqli1 {
    display: list-item;
    text-align: match-parent;
 }

 #faqli2 {
    display: list-item;
    text-align: match-parent;
 }

 #faqli3 {
    display: list-item;
    text-align: match-parent;
 }

 .faqp {
    font-size: 1.2rem;
 }

 #panel {
    border: none !important;
 }

 .m-head__avatar {
    width: 100%
}

.m-head__avatar-link {
    width: 30px;
    height: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.m-head__browse {
    display: -webkit-flex;
    display: flex
}

.m-head__browse:after {
    content: '';
    height: 18px;
    margin-top: 2px;
    margin-left: 28px;
    width: 2px;
    background: #9e9e9e
}

@media (min-width: 768px) {
    .m-head__cart-content {
        width: calc(280px - 40px)
    }
}

.jsHeadCart.updating .m-head__cart-content {
    opacity: 0.1;
    pointer-events: none
}

.m-head__cart-empty {
    display: none
}

.m-head__cart-empty.active {
    display: block
}

.m-head__cart-foot {
    text-align: right
}

.m-head__cart-item {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 15px
}

.m-head__cart-item-image {
    width: 68px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.m-head__cart-item-image img {
    width: 100%
}

.m-head__cart-item-info {
    margin-left: 20px
}

.m-head__cart-item-info li {
    margin-bottom: 4px
}

.m-head__cart-paypal {
    min-height: 35px
}

.m-head__cart-subtotal {
    margin-bottom: 5px
}

.m-head__cart-applepay {
    margin-bottom: 5px;
    display: block;
    height: 42px
}

.m-head__content {
    background: #eaeaea
}

@media (max-width: 767px) {
    .m-head__content {
        position: relative
    }
}

@media (max-width: 767px) {
    .m-head__content .contain {
        padding-left: 10px;
        padding-right: 10px
    }
}

.m-head__dropdown {
    position: absolute;
    background: #eaeaea;
    z-index: 100;
    padding: 20px;
    border: 1px solid #9e9e9e;
    display: none
}

.m-head__site-nav--menu.active .m-head__dropdown {
    display: block
}

@media (max-width: 767px) {
    .m-head__dropdown {
        left: 0;
        right: 0;
        top: 40px;
        border-left: none;
        border-right: none
    }
}

@media (min-width: 768px) {
    .m-head__dropdown {
        background: white;
        top: 63px;
        right: -15px
    }
}

.m-head__dropdown-arrow {
    position: relative;
    left: 0;
    width: 100%;
    top: 2px;
    height: 0;
    display: none
}

@media (min-width: 768px) {
    .m-head__dropdown-arrow {
        top: 63px;
        position: absolute
    }
}

.m-head__site-nav--menu.active .m-head__dropdown-arrow {
    display: block
}

.m-head__dropdown-arrow:before,
.m-head__dropdown-arrow:after {
    position: absolute;
    content: '';
    z-index: 101;
    left: calc(50% - 6px);
    top: 2px
}

@media (min-width: 768px) {

    .m-head__dropdown-arrow:before,
    .m-head__dropdown-arrow:after {
        left: calc(50% - 10px);
        top: -9px
    }
}

.m-head__dropdown-arrow:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #9e9e9e
}

@media (min-width: 768px) {
    .m-head__dropdown-arrow:before {
        border-width: 10px
    }
}

.m-head__dropdown-arrow:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eaeaea;
    margin-top: 1px
}

@media (min-width: 768px) {
    .m-head__dropdown-arrow:after {
        border-bottom-color: white;
        border-width: 10px
    }
}

.m-head__dropdown-head {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 10px
}

@media (min-width: 768px) {
    .m-head__dropdown-head {
        display: none
    }
}

.m-head__dropdown-link,
.m-head__dropdown-links a {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap
}

.m-head__dropdown-link:last-child,
.m-head__dropdown-links a:last-child {
    margin-bottom: 0
}

@media (max-width: 767px) {
    .active-search .m-head__home {
        overflow: hidden;
        width: 24px
    }
}

.m-head__logo {
    display: block;
    width: 144px
}

@media (min-width: 768px) {
    .m-head__logo {
        width: 210px
    }
}

@media (min-width: 768px) {
    .m-head__moneys {
        text-align: right
    }
}

.m-head__nav {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 40px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%
}

@media (min-width: 768px) {
    .m-head__nav {
        height: 63px
    }
}

.m-head__nav-icon {
    color: #0f0f0f
}

@media (max-width: 767px) {
    .m-head__nav-icon {
        width: 20px;
        height: 20px;
        font-size: 20px
    }
}

.m-head__site-nav--menu.active .m-head__nav-icon {
    color: #19b1ff
}

.m-head__search {
    -webkit-flex-grow: 1;
    flex-grow: 1
}

@media (max-width: 767px) {
    .m-head__search {
        border-radius: 4px;
        margin-right: 5px
    }
}

@media (min-width: 768px) {
    .m-head__search {
        margin-right: 10px
    }
}

.m-head__search ::-webkit-input-placeholder {
    display: none;
    color: #646464
}

.m-head__search :-ms-input-placeholder {
    display: none;
    color: #646464
}

.m-head__search ::-ms-input-placeholder {
    display: none;
    color: #646464
}

.m-head__search ::placeholder {
    display: none;
    color: #646464
}

@media (max-width: 374px) {
    .m-head__search ::-webkit-input-placeholder {
        color: transparent
    }

    .m-head__search :-ms-input-placeholder {
        color: transparent
    }

    .m-head__search ::-ms-input-placeholder {
        color: transparent
    }

    .m-head__search ::placeholder {
        color: transparent
    }

    .active-search .m-head__search ::-webkit-input-placeholder {
        color: #646464
    }

    .active-search .m-head__search :-ms-input-placeholder {
        color: #646464
    }

    .active-search .m-head__search ::-ms-input-placeholder {
        color: #646464
    }

    .active-search .m-head__search ::placeholder {
        color: #646464
    }
}

.m-head__search-close {
    display: none;
    margin-left: 5px;
    color: #9e9e9e
}

@media (max-width: 767px) {
    .active-search .m-head__search-close {
        display: block
    }
}

.m-head__search-field {
    color: #646464;
    height: 32px
}

.m-head__site-nav--menu {
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 2.5px;
    padding-right: 2.5px
}

@media (min-width: 768px) {
    .m-head__site-nav--menu {
        height: 63px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative
    }

    .m-head__site-nav--menu:last-child {
        padding-right: 0
    }
}

@media (max-width: 767px) {
    .active-search .m-head__site-nav--menu {
        display: none
    }
}

.m-head__site-navs {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 10px;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

@media (min-width: 768px) {
    .m-head__site-navs {
        margin-left: 35px
    }
}

.m-head__sidenav-ctrl {
    margin-left: 5px
}

.active-search .m-head__sidenav-ctrl {
    display: none
}

@media (min-width: 768px) {
    .m-head__sidenav-ctrl {
        display: none
    }
}

.m-head__sidenav-ctrl .icon,
.m-head__sidenav-ctrl .m-design__tip-icon {
    width: 20px;
    height: 20px;
    font-size: 20px
}

.m-head__subnav {
    display: -webkit-flex;
    display: flex;
    margin-top: 16px;
    position: relative
}

@media (max-width: 767px) {
    .m-head__subnav {
        display: none
    }
}

.m-head__subnav-menu {
    position: relative;
    padding: 14px 15px;
    cursor: pointer
}

@media (min-width: 970px) {
    .m-head__subnav-menu {
        padding: 14px
    }
}

.m-head__subnav-menu:first-child {
    padding-left: 0
}

.m-head__subnav-menu.m-head__browse .m-head__dropdown {
    left: 0
}

.m-head__subnav-menu.m-head__browse .m-head__dropdown-arrow {
    left: 30px
}

.m-head__subnav-menu>.link {
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: bold
}

.m-head__subnav-menu .m-head__dropdown {
    top: 46px;
    left: 16px;
    right: auto;
    width: 165px;
    cursor: initial
}

.m-head__subnav-menu .m-head__dropdown-arrow {
    width: auto;
    left: 45px;
    top: 46px
}

.m-head__subnav-menu .m-head__dropdown-links a {
    white-space: normal
}

.m-head__subnav-menu.active .m-head__dropdown,
.m-head__subnav-menu.active .m-head__dropdown-arrow {
    display: block
}

.m-head__tagline {
    background-color: #f1f1f1;
    padding: 8px 0
}

.m-head__tagline-cont {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-size: 11px;
    font-weight: bold;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: auto
}

@media (min-width: 768px) {
    .m-head__tagline-cont {
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}

.m-head__tagline-preferences {
    display: none
}

@media (min-width: 768px) {
    .m-head__tagline-preferences {
        transition: all 0.1s ease-in-out;
        -webkit-align-items: center;
        align-items: center;
        background: transparent;
        border: none;
        color: #19b1ff;
        display: -webkit-flex;
        display: flex
    }

    .m-head__tagline-preferences:hover {
        color: #148ac7
    }

    .m-head__tagline-preferences img {
        height: 14px;
        margin-right: 5px;
        width: auto
    }
}

.m-home__anchor-banner {
    background-color: white;
    position: relative
}

@media (min-width: 768px) {
    .m-home__anchor-banner {
        background-image: url("https://assets.teepublic.com/assets/homepage/seo-box-img@1.5x-c5a0be9befa2a86b8fa92b5fc03d7a67981056a292a194ba72664bd0155bf23f.png");
        background-position: -45px center;
        background-repeat: no-repeat;
        background-size: auto 100%
    }
}

.m-home__anchor-container {
    padding: 18px
}

@media (min-width: 768px) {
    .m-home__anchor-container {
        margin-top: 30px;
        padding: 40px 20px 40px 280px;
        text-align: left
    }
}

.m-home__anchor-hr {
    background-color: #d9d9d9
}

.m-home__anchors {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 15px
}

@media (min-width: 768px) {
    .m-home__anchors {
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
}

.m-home__anchor-h2 {
    color: #19b1ff;
    font-size: 14px;
    font-weight: lighter;
    margin: 10px
}

.m-home__anchor-h2:hover {
    color: #148ac7
}

@media (min-width: 768px) {
    .m-home__anchor-h2 {
        font-size: 18px;
        margin: 12px 20px 0 0
    }
}

.m-home__anchor-img {
    height: 50px;
    width: 50px
}

.m-home__banners {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.m-home__banner {
    margin-bottom: 30px;
    position: relative
}

.m-home__banner>a:first-child {
    display: block;
    height: 100%;
    position: relative
}

.m-home__banner img {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute
}

@media (min-width: 768px) {
    .m-home__banner:nth-last-child(-n+2) {
        margin-bottom: 0px
    }
}

@media (max-width: 767px) {
    .m-home__banner {
        margin-bottom: 15px
    }

    .m-home__banner:last-child {
        margin-bottom: 0px
    }
}

.m-home__banner--a {
    width: 100%
}

.m-home__banner--a>a {
    padding-bottom: 100%
}

@media (min-width: 768px) {
    .m-home__banner--a>a {
        padding-bottom: calc((900 / 2000) * 100%)
    }
}

.m-home__banner--b {
    width: calc(50% - 15px);
    margin-right: 15px
}

.m-home__banner--b>a {
    padding-bottom: calc((680 / 970) * 100%)
}

@media (max-width: 767px) {
    .m-home__banner--b {
        width: 100%;
        margin-right: auto
    }
}

.m-home__banner--c {
    width: calc(50% - 15px);
    margin-left: 15px
}

.m-home__banner--c>a {
    padding-bottom: calc((680 / 970) * 100%)
}

@media (max-width: 767px) {
    .m-home__banner--c {
        width: 100%;
        margin-left: auto
    }
}

.m-home__banner--d {
    width: calc(75% - 15px);
    margin-right: 15px
}

.m-home__banner--d>a {
    padding-bottom: calc((680 / 1486) * 100%)
}

@media (max-width: 767px) {
    .m-home__banner--d {
        display: none
    }
}

.m-home__banner--e {
    width: calc(25% - 15px);
    margin-left: 15px
}

.m-home__banner--e>a {
    padding-bottom: calc((680 / 454) * 100%)
}

@media (max-width: 767px) {
    .m-home__banner--e {
        display: none
    }
}

@media (min-width: 768px) {
    .m-home__banner-image--desktop-clickthrough-disabled>a {
        pointer-events: none
    }
}

.m-home__banner-overlay {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7)
}

.m-home__banner-overlay a {
    display: inline
}

@media (max-width: 767px) {
    .m-home__banner-overlay--hidden {
        display: none
    }
}

.m-home__banner-overlay--search {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

@media (max-width: 767px) {
    .m-home__banner-overlay--search {
        display: none
    }
}

.m-home__banner-overlay--search-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.m-home__banner-overlay--search-container form {
    margin-right: 0px
}

@media (min-width: 970px) {
    .m-home__banner-overlay--search-container {
        width: 45%
    }
}

.m-home__browse-btns {
    margin-bottom: 20px
}

.m-home__browse-btn {
    margin-top: 20px;
    margin-bottom: 20px
}

.m-home__newsletter {
    margin-top: 30px;
    background-color: #646464;
    color: white
}

@media (max-width: 767px) {
    .m-home__newsletter {
        display: none
    }
}

.m-home__newsletter-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 52px
}

.m-home__newsletter-content .m-newsletter {
    color: white;
    margin-top: 10px;
    text-align: right
}

.m-home__newsletter-text {
    margin-right: 15px
}

.m-home__newsletter-text span {
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-style: italic;
    font-size: 18px
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.navbar:before,
.navbar:after {
    display: table;
    content: " "
}

.navbar:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px
    }
}

.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " "
}

.navbar-header:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " "
}

.navbar-collapse:after {
    clear: both
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px
}

@media (max-device-width: 480px) and (orientation: landscape) {

    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px
    }
}

@media (min-width: 768px) {

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.container>.navbar-header,
.fake-container>.navbar-header,
.container>.navbar-collapse,
.fake-container>.navbar-collapse,
.container-fluid>.navbar-header,
.container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {

    .container>.navbar-header,
    .fake-container>.navbar-header,
    .container>.navbar-collapse,
    .fake-container>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

@media (min-width: 768px) {

    .navbar>.container .navbar-brand,
    .navbar>.fake-container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .form-control-static {
        display: inline-block
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto
    }

    .navbar-form .input-group>.form-control {
        width: 100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        box-shadow: none
    }
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-btn.btn-sm,
.btn-group-sm>.navbar-btn.btn {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar-btn.btn-xs,
.btn-group-xs>.navbar-btn.btn {
    margin-top: 14px;
    margin-bottom: 14px
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right~.navbar-right {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-default .btn-link {
    color: #777
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333
}

.navbar-default .btn-link[disabled]:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:hover,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc
}

.navbar-inverse {
    background-color: #222;
    border-color: #090909
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #090909
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #090909
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #090909
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #090909
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #090909
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-link {
    color: #9d9d9d
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}

.navbar-inverse .btn-link {
    color: #9d9d9d
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #fff
}

.navbar-inverse .btn-link[disabled]:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444
}