
/* subhead nav text normal*/

.h__header, .h__h1, .h__h1--loud, .h__h1--hero, .h__h1--sm, .h__h2--primary, .h__h2--loud, .h__h2--sm, .h__h2--secondary, .h__h3, .h__h3--loud, .h__h3--secondary--sm, .h__h3--primary--sm, .h__h4, .h__h4--loud {
    color: grey !important;
}

/* navbar icons */

.m-head__site-nav--menu.active .m-head__nav-icon {
    color: #ffbd2e !important;
}



/* button text*/

.btn {
    color: white !important;
    background-color: #ffbd2e !important;
}

.btn:hover {
    color: white !important;
    background-color: #ffdb8c !important;
}

/* shopping cart */

.tp-cart:hover {
    transform: rotate(-25deg) !important;
}

/* carousel caption */
.carH5 {
    color: #ffbd2e !important;
    text-shadow: 2px !important;
}

.carP {
    color: white !important;
    text-shadow: 2px !important;
}

.carousel-control-next-icon {
    color: black !important;

}

/* cards */

.card-title {

color:grey !important;
}

/* footer */

.footerH {
    color: #ffbd2e !important;
}

/* FAQ Page */
h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

/*alert*/
.alert-success {
    color: orange !important;
}

/*product page*/
.rec {
    border: 1px solid grey;
    width: 160px;
    height: 160px;
}
.recDes {
    color: grey
}

/*-------blog page--------*/


.jumbotron {
    background-image: url("images/lotsamugs.png") !important;
    background-size: cover !important;
    padding: 3rem!important;

}

.display-4, .header, .subhead, .sideHead {
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: bold;
}

.blog-post-title {
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: bold;
}

.blogwords {
    font-family: helvetica, arial, sans-serif;
}

#update {
    color: orange;
}

.btn .btn-primary {
    outline-color: #ffbd2e !important;
}

/*---Checkout---*/


/* inside navbar text when hovered */
a:hover, span.a:hover {
    color: #ffdb8c !important;
    text-decoration: none;
}
/* inside navbar text normal */
a, span.a {
    transition: all 0.1s ease-in-out;
    color: #ffbd2e !important;
    cursor: pointer;
}
#nav1:hover {
 color: #ffbd2e !important;
}
#nav2:hover {
    color: #ffbd2e !important;
   }
#nav3:hover {
    color: #ffbd2e !important;
   }
#nav4:hover {
    color: #ffbd2e !important;
   }

   /*FAQ panels*/

   .panel-group .panel {
       border: none;
   }

   #faq1 {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 1.2rem;
   }

   #faqli1 {
    display: list-item;
    text-align: match-parent;
 }

 #faqli2 {
    display: list-item;
    text-align: match-parent;
 }

 #faqli3 {
    display: list-item;
    text-align: match-parent;
 }

 .faqp {
    font-size: 1.2rem;
 }

 #panel {
    border: none !important;
 }