.bg-dark {
    color: black;
    background-color: black !important;
    
}

.bg-dark li a {
    color:	#B3946F !important
}

.jumbotron-fluid {
    text-align:center !important
}

.heading {
    color: #B3946F !important
}

.subhead {
    color:#B3946F !important
}
.subsubhead {
    color: #B3946F 
}

.card {
    border-color: #B3946F !important;
    background-color: transparent !important
}
